:root{
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: auto;
  max-width: auto;
  background-color: var(--light-gray);
  font-family: 'Outfit', sans-serif;
  height: 1vh;
}


.card{
  width: 320px;
  background-color: var(--white);
  margin: 20vh auto;
  border-radius: 20px;
  height: 499px;
}

.card_content{
    margin: 8px;
    height: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_content_figure{
  width: 89%;
  
  border-radius: 10px;
  overflow: hidden;
  margin-top: 18px;
}

.card_image{
  width: 100%;
  border-radius: 10px;
}

.card_content_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
}

.card_text_title{
    text-align: center;
    font-size: 25px;
    color: var(--dark-blue);
}

.card_text_paragraph{
    margin-top: 5px;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    color: var(--grayish-blue);
    padding: 20px;
}